<div id="formLogin">
<div class="row">
	<label>Login: </label>
	<input type="text" id="lLogin" placeholder="Wpisz nickname"></input>
</div>
<script>
	$('#lLogin').focus();
	$("#login").click(function(event){
		event.preventDefault();
		var ilogin = $("#lLogin").val();
		var ipass = $("#lPassword").val();
		$.post(
			'/login', 
			{
				nick: ilogin,
				pass: ipass
			}, 
			// on success function
			function(data){
				if(data.response=='logged'){
					var begin = '<div>'+
						'<li><a id="headertest" href="/test">Test</a></li>'+
						'<li><a id="headerad" href="/ad">Udostępnij</a></li>'+
						'<li><a id="headerprofile" href="/profile">Profil</a></li>';
					var adminPart = '<li><a id="headerawaiting" href="/awaiting">Oczekujące</a></li>';
					var headadminPart = '<li><a id="headerpriviliges" href="/priviliges">Przywileje</a></li>';
					var end = '</div>';
					$('#pInfo').text("");
					$('#headerlogin').text('Wyloguj('+ilogin+')').attr('href','/logout');
					if(data.priviliges=='user'){
						$('#header').prepend(begin+end);
					} else if(data.priviliges=='admin'){
						$('#header').prepend(begin+adminPart+end);
					} else if(data.priviliges=='headadmin'){
						$('#header').prepend(begin+adminPart+headadminPart+end);
					}
					$('#headerprofile').click(function(event) {
						event.preventDefault();
						$.get('/profile',function(data){
							$('#content').html(data);
						});
					});
					$('#headerpriviliges').click(function(event) {
						event.preventDefault();
						$.get('/priviliges',function(data){
							$('#content').html(data);
						});
					});
					$('#headerad').click(function(event){
						event.preventDefault();
						$.get('/ad',function(data){
							$('#content').html(data);
						});
					});

					$('#headerawaiting').click(function(event){
						event.preventDefault();
						$.get('/awaiting',function(data){
							$('#content').html(data);
						});
					});

					$('#headertest').click(function(event){
						event.preventDefault();
						$.get('/test',function(data){
							$('#content').html(data);
						});
					});

					$.get('/main', function(data) {
						$("#content").html(data);
					});
				} else if ( data.response=='wrong pass'){
					$('#pInfo').text("Niepoprawne dane");
				}
			}
		);
		
	});

	$('#register').click(function(event){
		event.preventDefault();
		var info = $('#info');
		var rlogin = $('#rLogin').val();
		var rpass = $('#rPassword').val();
		var rpass2 = $('#rPassword2').val();
		var rname = $('#rName').val();
		var rsurname = $('#rSurname').val();
		var rcountry = $('#rCountry').val();
		var rphone = $('#rPhone').val();
		var remail = $('#rEmail').val();
		if(rpass==rpass2){
			info.text('');
			$.post(
				'/register', 
				{
					nick: rlogin,
					pass: rpass,
					name: rname,
					surname: rsurname,
					country: rcountry,
					phone: rphone,
					email: remail
				}, 
				function(data){
					if(data=="registered"){
						$('#pInfo').text("");
						$("#lLogin").val(rlogin);
						$("#lPassword").val(rpass);
						$('#toggleButton').click();
						$('#rLogin, #rPassword, #rPassword2, #rName, #rSurname, #rCountry, #rPhone, #rEmail').val('');
					} else if (data="occupied"){
						$('#pInfo').text("Ten nick jest zajęty!");
						$('#rLogin').css({'background-color':'rgb(255,135,132)'});
					}
				}
			);
		} else {
			info.text('Hasła różnią się od siebie!');
		}
	});

	$('#toggleButton').click(function(event){
		$('#pInfo').text("");
		$('#rLogin').css({'background-color':'white'});
		// jak niewidoczne jest logowanie to po kliknieciu wysunie sie wlasnie logowanie
		if($('#formLogin:visible').length == 0){
			// podczas animacji element #lLogin jest jeszcze niewidoczny, trzeba poczekac 1s
			setTimeout(function(){ $('#lLogin').focus(); },1000);
		} 
		// jak niewidoczna jest rejestracja to po kliknieciu wysunie sie wlasnie rejestracja
		if($('#formRegister:visible').length == 0){
			// podczas animacji element #rLogin jest jeszcze niewidoczny, trzeba poczekac 1s
			setTimeout(function(){ $('#rLogin').focus(); },1000);
		} 
		event.preventDefault();
		$('#formLogin').slideToggle(1000);
		$('#formRegister').slideToggle(1000);
	});
</script>
<div class="row">
	<label>Hasło: </label>
	<input type="password" id="lPassword"></input>
	<a href="/main" id="login">Zaloguj</a>
</div>
</div>
<div class="row">
	 <span id="toggleButton">Rejestracja</span>
</div>
<div id="formRegister" style="display: none">
<div class="row">
	<label>Login: </label>
	<input type="text" id="rLogin" placeholder="Wpisz pseudonim"></input>
</div>
<div class="row">
	<label>Hasło: </label>
	<input type="password" id="rPassword"></input>
</div>
<div id="info" style="color: red; display: block"></div>
<div class="row">
	<label>Powtórz: </label>
	<input type="password" id="rPassword2"></input>
</div>
<div class="row">
	<label>Imie: </label>
	<input type="text" id="rName" placeholder="Wpisz swoje imie"></input>
</div>
<div class="row">
	<label>Nazwisko: </label>
	<input type="text" id="rSurname" placeholder="Wpisz swoje nazwisko"></input>
</div>
<div class="row">
	<label>Kraj: </label>
	<input type="text" id="rCountry" placeholder="Wpisz swoj kraj"></input>
</div>
<div class="row">
	<label>Telefon: </label>
	<input type="text" id="rPhone" placeholder="Wpisz nr telefonu"></input>
</div>
<div class="row">
	<label>E-mail: </label>
	<input type="text" id="rEmail" placeholder="Wpisz adres e-mail"></input>
</div>
<a href="/register" id="register">Zarejestruj</a>
</div>
<div class="row" style="color: red; font-weight: bold; font-size: 24px;">
	<div id="pInfo"></div>
</div>