<div id="formLogin">
<div class="row">
	<label>Login: </label>
	<input type="text" id="lLogin" placeholder="Wpisz nickname"></input>
</div>
<script>
	$('#lLogin').focus();
	$("#login").click(function(event){
		event.preventDefault();
		var ilogin = $("#lLogin").val();
		var ipass = $("#lPassword").val();
		$.post(
			'/login', 
			{
				nick: ilogin,
				pass: ipass
			}, 
			// on success function
			function(data){
				$('#headerlogin').text('Wyloguj('+ilogin+')').attr('href','/logout');
				$.get('/main', function(data) {
					$("#content").html(data);
				});
			}
		);
		
	});

	$('#register').click(function(event){
		event.preventDefault();
		var info = $('#info');
		var rlogin = $('#rLogin').val();
		var rpass = $('#rPassword').val();
		var rpass2 = $('#rPassword2').val();
		var rname = $('#rName').val();
		var rsurname = $('#rSurname').val();
		var rcountry = $('#rCountry').val();
		var rphone = $('#rPhone').val();
		var remail = $('#rEmail').val();

		$.post(
			'/register', 
			{
				nick: rlogin,
				pass: rpass,
				name: rname,
				surname: rsurname,
				country: rcountry,
				phone: rphone,
				email: remail
			}, 
			function(data){}
		);
		if(rpass==rpass2){
			info.text('');
			$("#lLogin").val(rlogin);
			$("#lPassword").val(rpass);
			$('#toggleButton').click();
			$('#rLogin, #rPassword, #rPassword2, #rName, #rSurname, #rCountry, #rPhone, #rEmail').val('');
		} else {
			info.text('Hasła różnią się od siebie!');
		}
	});

	$('#toggleButton').click(function(event){
		event.preventDefault();
		$('#formLogin').slideToggle(1000);
		$('#formRegister').slideToggle(1000);
	});
</script>
<div class="row">
	<label>Hasło: </label>
	<input type="password" id="lPassword"></input>
	<a href="/main" id="login">Zaloguj</a>
</div>
</div>
<div class="row">
	 <span id="toggleButton">Rejestracja</span>
</div>
<div id="formRegister" style="display: none">
<div class="row">
	<label>Login: </label>
	<input type="text" id="rLogin" placeholder="Wpisz pseudonim"></input>
</div>
<div class="row">
	<label>Hasło: </label>
	<input type="password" id="rPassword"></input>
</div>
<div id="info" style="color: red; display: block"></div>
<div class="row">
	<label>Powtórz: </label>
	<input type="password" id="rPassword2"></input>
</div>
<div class="row">
	<label>Imie: </label>
	<input type="text" id="rName" placeholder="Wpisz swoje imie"></input>
</div>
<div class="row">
	<label>Nazwisko: </label>
	<input type="text" id="rSurname" placeholder="Wpisz swoje nazwisko"></input>
</div>
<div class="row">
	<label>Kraj: </label>
	<input type="text" id="rCountry" placeholder="Wpisz swoj kraj"></input>
</div>
<div class="row">
	<label>Telefon: </label>
	<input type="text" id="rPhone" placeholder="Wpisz nr telefonu"></input>
</div>
<div class="row">
	<label>E-mail: </label>
	<input type="text" id="rEmail" placeholder="Wpisz adres e-mail"></input>
</div>
<a href="/register" id="register">Zarejestruj</a>
</div>