<p>Wylogowuje...</p>
<script>
window.setTimeout(
	function(){
		$.get('/main',function(data){
			$('#content').html(data);
			$('#headerlogin').text('Zaloguj').attr('href','/login');
			$('#headerprofile').parent().parent().remove();
			$('#headerpriviliges').parent().parent().remove();
			$('#headerawaiting').parent().parent().remove();
			$('#headerad').parent().parent().remove();
		});
	},
	2000
);


</script>