<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Wypożyczalnia samochodów</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style/style.css" />
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="main.js"></script>
</head>
<body>
<div id="header">
		<% //console.log('Nick w sesji: '+nickname); 
		if((nickname == undefined) || (nickname == "")){ %> 
		 <% } else  { %>
		<div>
			<li><a id="headerorders" href="/reservation">Rezerwacje</a></li>
			<li><a id="headerad" href="/ad">Udostępnij</a></li>
			<li><a id="headerprofile" href="/profile">Profil</a></li>
			<% if(priviliges=="admin" || priviliges =="headadmin"){ %>
				<li><a id="headerwaiting" href="/waiting">Oczekujące</a></li>
			<% } %>
			<% if(priviliges=="headadmin"){ %>
				<li><a id="headerpriviliges" href="/priviliges">Przywileje</a></li>
			<% } %>
		</div>
		<% } %>
		<% if((nickname == undefined) || (nickname == "")){ %>
		<li><a id="headerlogin" href="/login">Zaloguj</a></li>
		<% } else { %>
		<li><a id="headerlogin" href="/logout">Wyloguj(<%=nickname%>)</a></li>
		<% } %>
</div>
<div id="panelup">
	<ul>
		<li><a href="/main" >START</a></li>
		<li><a href="/cars" >AUTA</a>
			<ul>
				<li><a href="/">OSOBOWE</a>
					<ul>
						<li><a href="/">BMW</a></li>
						<li><a href="/">Mazda</a></li>
						<li><a href="/">Volvo</a></li>
					</ul>
				</li>
				<li><a href="/">DOSTAWCZE</a></li>
				<li><a href="/">CIĘŻAROWE</a></li>
			</ul>
		</li>
		<li><a href="/cars/description" >MOTOCYKLE</a>
			<ul>
				<li><a href="/">BMW</a></li>
				<li><a href="/">Mazda</a></li>
				<li><a href="/">Volvo</a></li>
			</ul>
		</li>
	</ul>
</div>
<div id="content">
</div>
</body>
</html>