<div id="itemrow">
	<div id="miniimg"><img src="images/cars/mazda6.jpg" alt="Mazda 6"></img></div>
	<table>
		<tr><td>Marka:</td><td>Mazda</td><td>Model:</td><td>6</td></tr>
		<tr><td>Wersja:</td><td>GH/GJ(2005-2008)</td><td>Rocznik:</td><td>2007</td></tr>
		<tr><td>Pojemność:</td><td>1 995cm3</td><td>Moc:</td><td>143 km</td></tr>
	</table>
</div>
<div id="itemrow">
	<div id="miniimg"><img src="images/cars/mazda6.jpg" alt="Mazda 6"></img></div>
	<div id="shortdescript"></div>
</div>
<div id="itemrow">
	<div id="miniimg"><img src="images/cars/mazda6.jpg" alt="Mazda 6"></img></div>
	<div id="shortdescript"></div>
</div>
<div id="itemrow">
	<div id="miniimg"><img src="images/cars/mazda6.jpg" alt="Mazda 6"></img></div>
	<div id="shortdescript"></div>
</div>