<div id="image"><img src="images/cars/mazda6.jpg" alt="Mazda 6"></img></div>
<div id="technicaldata">
	<table>
		<tr><td>Marka:</td><td>Mazda</td></tr>
		<tr><td>Model:</td><td>6</td></tr>
		<tr><td>Wersja:</td><td>GH/GJ(2005-2008)</td></tr>
		<tr><td>Rok produkcji:</td><td>2007</td></tr>
		<tr><td>Pojemność skokowa:</td><td>1 995cm3</td></tr>
		<tr><td>Moc:</td><td>143 KM</td></tr>
		<tr><td>Rodzaj paliwa:</td><td>Diesel</td></tr>
		<tr><td>Skrzynia biegów:</td><td>Manualna</td></tr>
		<tr><td>Napęd:</td><td>Przedni</td></tr>
		<tr><td>Typ:</td><td>Kombi</td></tr>
		<tr><td>Liczba drzwi:</td><td>4</td></tr>
		<tr><td>Liczba miejsc:</td><td>5</td></tr>
		<tr><td>Kierownica:</td><td>Z lewej</td></tr>
		<tr><td>Faktura VAT:</td><td>Tak</td></tr>
		<tr><td>Punkt odbioru:</td><td>ul. Dywizji Wołyńskiej 10b/10</td></tr>
	</table>
</div>
<div id="additional">
	<label>Opis dodatkowy:</label>
	<div id="description">Auto zadbane, pierwszy właściciel.</div>
</div>
